<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="jp.ne.ravi.mapper.UsersMapper">

	<resultMap type="jp.ne.ravi.dto.UsersDto" id="UsersResultMap">
		<result column="USER_ID" property="userId" />
		<result column="NEW_PASS" property="newPass" />
		<result column="OLD_PASS" property="oldPass" />
		<result column="PASS_LIMIT" property="passLimit" />
		<result column="TMP_PASS" property="tmpPass" />
		<result column="TMP_PASS_LIMIT" property="tmpPassLimit" />
		<result column="MAIL_ADDRESS" property="mailAddress" />
		<result column="AUTH_LEVEL" property="authLevel" />
		<result column="LAST_PASS_CHANGE_TIME" property="lastPassChangeTime" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

	<select id="count" resultType="int" parameterType="jp.ne.ravi.dto.UsersDto">
		SELECT COUNT(*) FROM webapp1.USERS_TABLE WHERE USER_ID='${userId}' AND NEW_PASS='${newPass}'
	</select>

	<update id="updateTheLastLoginTime">
		UPDATE webapp1.USERS_TABLE
		SET
			LAST_LOGIN_TIME=#{loginTime}
		WHERE
			USER_ID=#{userId}
	</update>

 </mapper>